<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lvtn_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.lesson.LessonActivity"></activity>
        <activity android:name=".screens.password.PasswordActivity" />
        <activity android:name=".screens.login.LoginActivity" />
        <activity android:name=".screens.theme.ThemeChooseActivity" />
        <activity android:name=".screens.plash.PlashActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@style/SplashTheme" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.main.MainActivity" />
    </application>

</manifest>